*, :after, :before {
    box-sizing: inherit;
}
a:hover {
    text-decoration: none;
}
a:active, a:hover, button, input {
    outline: 0;
}
html {
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
}
.d-flex {
    display: flex!important;
}
.align-items-center {
    align-items: center!important;
}
.justify-content-between {
    justify-content: space-between!important;
}
.justify-content-around {
    justify-content: space-around!important;
}
.flex-wrap {
    flex-wrap: wrap!important;
}
.text-center {
    text-align: center;
}
h4, h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}
h5 {
    font-weight: 400;
    color: #AAB2BD;
    margin-top: 5px;
}
body {
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    outline: 0;
    padding: 0;
    display: block;
    position: relative;
}
body::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url(img/bg.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
.form-section {
    padding-top: 100px;
    
}
.form {
    width: 360px;
    margin: 0 auto;
}
.item-form p:first-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2C323B;
}
.item-form p:last-of-type {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2C323B;
    opacity: 0.7;
}
.item-form input {
    width: 100%;
    background: #F5F7FA;
    border: 1px solid #EAEEF3;
    box-shadow: inset 0px 0px 10px #E9EDF2;
    border-radius: 10px;
    padding: 15px;
}
input::placeholder {
    color: #A0A8B4;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
}
.item-form input:focus {
    border: 1px solid #7AAFFF;
}
.item-form .button-primary {
    width: 100%;
    border: none;
    background: #AA1C46;
    box-shadow: 0px 4px 10px rgba(181, 66, 100, 0.56);
    border-radius: 10px;
    padding: 15px;  
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-top: 60px;
}
label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #A0A8B4;
    padding-top: 24px;
}
label input {
    margin-right: 10px;
}
.reviews {
    background: rgba(170, 28, 70, 0.8);
    margin-top: 30px;
    margin-bottom: 60px;
}
.top {
    background: #AA1C46;
    border-radius: 7px;
    height: 4px;
    transition: all 1.5s;
    width:0;
}
.owl-carousel {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.owl-carousel .item {
    position: relative;
    margin: 20px;
    padding: 20px;
    background-color:#FFFFFF;
    border-radius: 10px;
}
.owl-nav {
    display: none;
}
.owl-dots {
    display: none;
}
.slider-pictures {
    position: absolute;
    right: -20px;
}
@media only screen and (max-width : 320px) {
    .form-wrapper {
        padding-top: 10%;
        border-radius: 2px;
        margin: 50px auto;
        position: relative;
        width: 320px;
    }
}
@media (max-width: 375px) {
    body::after {
        background: url(img/third_page.png);
        background-repeat: no-repeat;
        background-position: 50% 0;  
    }
}
